@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

p {
  padding: 0;
}

body {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Kanit', sans-serif;
  position: relative;
}

.breed-select {
  position: absolute;
  top: 12%;
  left: 1%;
  z-index: 10;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 10px;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s linear;
}

.show-dogs {
  position: absolute;
  top: 5%;
  left: 1%;
  z-index: 10;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 5px;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s linear;
}

.breed-select:hover,
.show-dogs:hover {
  background-color: #fff;
}

.cat-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(25px);
  padding: 20px;
}

.cat-img {
  width: 200px;
  max-height: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.cat-card:hover .cat-img {
  transform: scale(1);
}

.cat-name {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: bold;
}

.cat-description {
  font-size: 18px;
}
.cat-temperament {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.cat-temperament-title {
  font-style: normal;
}

.is-hidden {
  visibility: hidden;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  min-height: 600px;
  background-color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.img-cat-hypnosis {
  object-fit: cover;
  height: 380px;
}

.popup {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.want-dogs-title {
  font-size: 36px;
  margin-bottom: 30px;
  color: #e91e63;
}

.buttons {
  margin: 20px;
}

.dogs-btn {
  font-size: 20px;
  padding: 12px 24px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background-color: #ff4081;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff5c8d; /* Lighter shade on hover for a soft effect */
}

.popup {
  display: none;
  background-color: #fff;
  border: 1px solid #e91e63; /* Romantic color for the border */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #e91e63; /* Romantic color for the popup text */
}

/* Add a smooth fade-in animation for the popup */
.popup.fade-in {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* loader */

.heading {
  font-family: 'eight', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.large-text {
  font-size: 5rem;
}

#hero {
  background: #101010;
  color: #fff;
  padding: 2rem;
}

#hero::after {
  content: '';
  width: 100vw;
  height: 5rem;
  background: rgb(16, 20, 118);
  background: linear-gradient(
    2deg,
    rgba(16, 20, 118, 1) 0%,
    rgba(16, 20, 118, 1) 50%,
    rgba(16, 16, 16, 1) 50%,
    rgba(16, 16, 16, 1) 100%
  );
  display: block;
  position: absolute;
  left: 0;
}

#loading-animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #0000007c;
  text-align: center;
  padding-top: 40vh;
  color: #fff;
}

#loading-animation p {
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
}

#loading-animation p:nth-of-type(2) {
  animation-delay: 0.1s;
}

#loading-animation p:nth-of-type(3) {
  animation-delay: 0.2s;
}

#loading-animation p:nth-of-type(4) {
  animation-delay: 0.3s;
}

#loading-animation p:nth-of-type(5) {
  animation-delay: 0.4s;
}

#loading-animation p:nth-of-type(6) {
  animation-delay: 0.5s;
}

#loading-animation p:nth-of-type(7) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  30% {
    transform: translateY(-100px);
  }
  60% {
    transform: none;
  }
}
